﻿<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="headerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="headerLabel">{{headTitle}}</h4>
            </div>
            <div class="modal-body">
                <div ng-transclude></div>
            </div>
        </div>
    </div>
</div>